# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
angular8/dist
angular8/tmp
angular8/out-tsc
# Only exists if Bazel was run
angular8/bazel-out

# dependencies
angular8/node_modules
NodeRestApi/node_modules
